@charset "utf-8";
/* CSS Document */

html { 
  background: url(Images/bgI.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  min-height: 100%;
}

body {
  min-height:100%;
}

.imgTitle {
  width:50%;
  height:auto;
  margin:auto auto;
}

.mid {
  display:block;
  margin: auto auto;
  text-align:center;
  margin-top:130px;
}

.butt {
  width:10%;
  text-align:middle;
  height: auto;
}


